html{
    background-image: linear-gradient(to right, #d4dbdc, #fbf3f3);
    color: #5a8997;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0% auto;
}

table{
    border-collapse: collapse;
    border:4px solid #5a8997;
    margin:60px auto;
}

tr, td{
    border-left: 3px solid #5a8997;
    width: 80px;
    padding: 12px;
}

form{
    margin:60px auto;
    width: 800px;
}

figure{
    padding: 20px;
    border-bottom: 2px dashed #5a8997;
}

figcaption{
    font-size: 12px;
}

.bolder{
    font-weight: bolder;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5a8997;
    color: #fbf3f3;
    padding: 40px 0;
}

.sp{
    font-size: 14px;
    color: #c52a5d;
}

a{
    margin:25px;
    font-size: 20px;
}

a:visited{
    text-decoration: none;
    color: #d4dbdc;
}

a:hover{
    text-decoration: none;
    color: #f4eedd;
}

a:link{
    text-decoration: none;
    color: #d4dbdc;
}
